.button {
    cursor:pointer;
    font: inherit;
    border:none;
    background-color: #4361ee;
    color:white;
    padding: 0.75rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    width: 8rem;
    box-sizing: border-box;
    margin: 0;
}

.button:hover, .button:active {
    background-color: #788ad9;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }

    10% {
        transform: scale(0.9);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}