
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup img {
    flex: 1;
    max-width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  form {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  button {
    display: block;
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input {
    width: 60%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  div {
    text-align: center;
  }
  
  Link {
    display: block;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    text-decoration: none;
  }